VITE_SUPABASE_URL=https://airzoestojeocpxhnndr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpcnpvZXN0b2plb2NweGhubmRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk0Mzk4MTcsImV4cCI6MjA2NTAxNTgxN30.-af-tC_LncnZhgCwJuw3Xs28z4wEp_DiiNpH5VVphuI